script(src='/static/js/vendor/jquery.js')
script(src='/static/js/vendor/angular.js')
script(src='/static/js/vendor/angular-route.js')
script(src='/static/js/vendor/angular-resource.js')
script(src='/static/js/vendor/angular-sanitize.js')
script(src='/static/js/vendor/bootstrap.js')
script(src='/static/js/vendor/ui-bootstrap-tpls.js')
script(src='/static/js/app_v2.js', type='text/javascript')
